@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); /* Импортирование шрифта с сайта fonts.google.com*/





/* Можем стирать по умолчанию все падинки и маргины во всех блоках при помощи синтаксиса *{} */
/**{
    padding: 0; 
    margin: 0;
} */



body{
    
    background-color: #f1f1f1; /* Цвет фона */
    color: #0f141e;

    font-size: 16px; /* font-шрифт, size-размер,  */
    font-weight: normal; /* жирный шрифт */
    font-family: 'Roboto', sans-serif; /* Импортированный шрифт с сайта fonts.google.com команда для активации берется с сайта*/

    font: normal 16px 'Roboto', sans-serif; /* вид записи с объединенным верхним кодом (нет разници)*/

    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*добавление существущих щрифтов из атрибута famili*/
}

a {
    color: black; /* Меняем цвет на чеоный*/
    text-decoration: none; /* уберает выделение ссылки синим*/
}


    /*Стайты*/ 

a:hover {
    text-decoration: underline; /*Стайт выделяет подчеркиванием ссылку при наведении мыши*/
}

a:active {
    color: blue; /*Стайт позволяет выделить ссылку синим цветом при нажадии или удержании кнопки мыши*/
}

a:visited {
    color: grey; /* Стайт позволяет выделить серым цветом ссылку которую уже посетили*/
}



.avatar {
    width: 200px; /* размер изображения */
    border-radius: 50px;  /*Закругдение краев Изображение */
    box-shadow: 4px 4px 14px rgba(0, 0, 0,0.25); /* отступы тени*/
}
 

.info {
    margin-bottom: 20px; /* Добавляем 20 пикселей с низу, что бы отодвинуть контейнер с хобби от контейнера инфо (Margin- отступы от границ контейнера)*/ 
    display: flex; /* выстраиваем блоки в одну строку. Сделали 2 корневых элемента в html блоке classa info (Div и img), что бы в строку втали только изображение и текст, а не все блоки в info */
}

@media (max-width: 700px) {  /*применяет свойство при достижении условий в скобках, т.е. при достижении ширины экрана в 700пикселей*/
    .info{
        text-align: center; 
        display: block; /* Блокируем дисплей флекс при 700 пикселя что позволяет на при сужении экрана до 700 пикселей перемещать текрс под изображение */

    }
}




.info-text {
    margin-left: 40px;  /*  растояние между аватаркой и текстом, добавиль 40 пик-й с лева в блоке текста(отодвинули на 40 пикселей)*/
}

.info-text h4 {
    margin-bottom: 10px; /* уменьшаем растояние между соц сетями и закголоввком */
}



.info p {
    color: #86898f; /* Цвет текста*/
    margin: 0; /* обнуляем растояние между строк */
    font-style: italic; /*Наклон текста- курсив*/
    font-weight: bold;  /* жирный текст*/
    text-decoration: none; /*  underline -Подчеркивание, line-through- зачеркивание текста*/
    text-transform: none; /* lowercase - нижний регистр текта, uppercase - ВЕРХНИЙ регистр, capitalize - Каждое Слово С Большой Буквы*/
    letter-spacing: 0px; /* Р а с т о я н и е  м е ж д у  с и м в о л а м и */
    word-spacing: 0px; /* Растояние       между      словами */
}


    /* Box Model*/

.container {
    width: 100%; /* Размер - Ширина страници,*/
    width: px; /* также Размер указывается в пикселях */ 
    max-width: 750px; /* max-width - позволяет установить максимальное значение ширины с адаптацией в случай изменения размера браузера.*/
    margin: auto; /* край- Центрует контент в блоке по краям*/ 
    font-weight: bold;  /* жирный текст*/
    padding-top: 30px; /* отодвигаем весь контейнер отверхней граници на 30 пик-й */
}



.bg-yellow {
    background:#fff9dc;  /* классы с дветами, просто прописываем в блоки div и меняем их цвета */
}
.bg-green {
    background: #e5ffe7;
}
.bg-red {
    background: #ffe5e5;
}



.card {
    /*background: red; /* использовали красный цвет для дебага, чтобы видеть контейнер*/
    padding: 15px 20px; /* добавляем отступы от контента до граници блока по 15 пик-й с верху и с низу и по 20 пик-й с права и с лева */
    margin-bottom: 20px; /*добавляетм пространство с низу - на дне, за границей блока*/
    border-radius: 20px; /*Закругляет края блока*/

}

.card h2 {
    margin-bottom: 10px; /* обратились к заголовку блоке card и добавили 10 пик-й с низу, чтобы отодвинуть контент от заголовок */
}


.list {
        /*  У списков сразу по умолчанию есть padding left 40px - отступ контента в лево от края граници блока на 40 пикселей */
    padding: 0 20px; /* редактируем отступы  верх/низ 0 пик. и лево/право 20 пик. */
    /*list-style: none; /*  Уберает цифры из списка*/  

}


.list li {
    color: #86898f;  /* Обращаемся к элементу li в блоке list и меняем его цвет*/
    margin-bottom: 10px;  /* добаляем отступы между элементами li/ меняем растояние между элементами в списке */
    /*border-bottom: 1px solid grey; /* подчеркиваение элементов списка*/
}

.table {
    width: 100%; /* Ширина 100%, делаем таблицу во всю ширину экрана*/
}

.table td {
    /*margin-bottom: 10px; /* Внешний отступ с низу не сработал из за свойства дисплея display : table-cell */
    padding-bottom:  10px; /* Чтобы исправить положение добавляем внутренний отступ с низу */
}   


/*.table .temp td {   /* Образаемся к сторочками элементам в таблице и меняем их цвета, сложно и громоско но возможно*/
   /* color: #86898f; 
}*/

.table td:nth-child(2),
.table td:nth-child(3) {  /* обращаемя к столбцам(селекторам) в таблице - в скобках передаем элемент который меняем*/
    color: #86898f;
}

/*.table tr:nth-child(even) { /* Каждая четная строчка в списке выделяется указанным цветом, even/четная и odd/нечетная */
    /*  background: red;
}*/

.link-list {
    list-style: none; /* nane - Убераем точки  с пунктов списка ( square - ставит квадратики) */
    padding: 0; /* Убераем отступы (по умолчанию списки имеют отступ/padding 40px)*/
}

.link-list li {
    margin-bottom: 10px;  /* добавляем растояние между строк / 10px  с низу в каждом li элементе */
    border-bottom: 1px solid #ccc; /* добавляем сплошную черту с низу в 1 пик-ль с цветом #ccc */
    padding-bottom: 5px; /* Увеличиваем растояние черты от контента (отодвигаем в низ на 5 пик-й */
    
}

.contact h2 {
    text-align: center; /* обращаемся к заголовку и выстовляем его по центру (right/справа)*/
}

.form-group label {
    display: block;  /*блокируем дистплей lable, чтобы получить ввод с новой строки так, как по умолчанию он у него строчный*/
    font-size: 14px; /* font-шрифт, size-размер, размер шрифта */
    color: #86898f;
}

.form-group input, 
.form-group textarea {
    width: 100%; /* Ставим колонки ввода по умолчанию длинй 100% */
    box-sizing: border-box; /*sizing/размер. Позволяет учитывать border/рамку для определения ширины блока. Border/рамка/граница и Margin(внешний отступ граници блока) находятся на одном уровне*/
    border: none; /* Убераем все базовые границу вводов/input-ов */
    background:  transparent;  /* делаем input прозрачным/transparent */
    border-bottom: 1px solid #ccc;  /* добаляем границу в 1 пиксель с низу, создаем черту с низу (подчеркивание) */
    color: #000;  /* Значения цветов в input будет чорное */
    padding: 15px 0 10px; /* добавляем растояни от граници до контена - padding, с верху 15 по бокам 0 и с низу 10пикселей, так тоже можно оказывается :) */
    outline: none;  /* Убераем  outline - линия выделеня краниц блока ввода при нажатии на него курсором (стоит по умолчанию синим цветом) */
    font-family: inherit; /* шрифт ввода/input-а наследуем из существущего - inherit/наследовать */
    font-weight: bold;  /* жирный текст, текст ввода будет жирным*/
}

.row {
    display: flex; /* ставим элементы на одну строчку flex/сгибать */
    margin-bottom: 20px;  /* отодвигаем блоки друг от друга на 20 пикселей по дну, чтобы был отступ от текстовой ареи*/
}

.row > .form-group {  /* прописали длину 50%, чтобы блоки (2 блока) занимали всю необходимыю длину(встли в строку)*/
    width: 50%;
   /* margin-right: 20px; /* добавляем отступы с права по 20 пикселей чтобы визуально разделить блоки, добавляет отсупы в оба блока из за чего появляется отсуп в конце блока, который нам не нужен, поэтому прибегаем к другому способу ниже, */
}

.row > .form-group:first-child {
    margin-right: 20px;  /* Добавляем отступ отступ к первому элементу при помощи псевдо селекторо:  first-child- первый элемент, last-child - последний элемент, также кажется можно в скобках передовать номер необходимого блока - синтакис:nth-child(2)...  :) */
}

.btn {
    background: #111; /* цвет фона*/
    padding: 15px 20px;
    color: #fff; /*Цвет текста*/
    border: none;  /* Убераем все базовые границы */
    font-family: inherit;  /* шрифт  наследуем из существущего - inherit/наследовать */
    cursor: pointer;
    font-weight: bold;  /* жирный текст, текст ввода будет жирным*/
    border-radius: 50px;
}

.btn:hover {
    opacity: 0.87; /* Псевдо селектор hover при помощи свойства opacity мы получаем при наведении изменение состояния кнопки (легкое обезцвечивание)   :) */
}


    /* Position */  /* НУЖНО ПЕРЕСМОТРЕТЬ ПОЗИЦИОНИРОВАНИЕ ЕЩЕ РАЗ ЧТОБЫ ПОНЯТЬ ЛУЧЩЕ https://www.youtube.com/watch?v=SpCUuyZZTp8&t=5669s ССЫЛКА К ВИДЕО */

/*.position {
    position: relative; /* ПОЗВОЛЯЕТ ПРИВЯЗАТЬ ОСОЛЮТНОЕ ПОЗИОНИРОВНАИЕ К БЛОКУ*/
/*  border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
}*/

/*.box { /*ПРИМЕР СОЗДАНИЯ КНОПИ -КОТОРУЮ МОЖНО ПОЗИЦИОНИРОВАТЬ И ОНА БУДЕТ ХОДИТЬ ЗА НАМИ*/
   /* position: fixed; */  /* ПОЗВОЛЯЕТ ЗАФИКСИРОВАТЬ ЭЛЕМЕНТ */
   /* position: absolute; /* ПОЗВОЛЯЕТ ВОДИТЬ ЭЛЕМЕНТ В ОБСОЛЮТНОЕ ПОЗИЦИОНИРОВАНИЕ , ПО ВСЕ СТРАНИЦЕ*/
  /*  bottom: 50px; 
    right: 50px;
   /* border-radius: 50%; /* зАКРУГЛЕНИЕ ЭЛЕМЕНТА*/
   /* top: 150px;
    left: 0px;
    bottom: 150px;*/
   /* width: 50px;
    height: 50px;
    background: lightcoral;
}*/

/*.box {  /* ПРИМЕР СОЗДАНИЯ НАВИГАЦИИ - ПОЛОСКА С ВЕРХУ ХОДЯЩЩАЯ ЗА НАМИ ВСЕ ВРЕМ*/
   /* position: fixed; 
   /* position: absolute; */
   /* left: 0;
    top: 0px; */
   /* top: 150px;
    left: 0px;
    bottom: 150px;*/
/*  width: 100%;
    height: 50px;
    background: lightcoral;
}*/